@font-face {
  font-family: "iconfont"; /* Project id 4614135 */
  src: url('iconfont.eot?t=1720579879983'); /* IE9 */
  src: url('iconfont.eot?t=1720579879983#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1720579879983') format('woff2'),
       url('iconfont.woff?t=1720579879983') format('woff'),
       url('iconfont.ttf?t=1720579879983') format('truetype'),
       url('iconfont.svg?t=1720579879983#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.levi-wenzhang:before {
  content: "\f154";
}

.levi-tupianchuli:before {
  content: "\e63a";
}

.levi-erweimashengchenggongju:before {
  content: "\e799";
}

.levi-a-jpgtopdf:before {
  content: "\e6e3";
}

.levi-PDFzhuanword:before {
  content: "\e64a";
}

.levi-tupianzhuanwenzi:before {
  content: "\e603";
}

.levi-tupianjiashuiyin:before {
  content: "\e951";
}

.levi-xuanzhuantupian:before {
  content: "\e604";
}

.levi-shuaxin:before {
  content: "\e6c2";
}

.levi-wode_zuijinliulan:before {
  content: "\e621";
}

.levi-youxiji:before {
  content: "\e650";
}

.levi-zonghelei:before {
  content: "\e66e";
}

.levi-faxiaoxi:before {
  content: "\e641";
}

.levi-kaifa:before {
  content: "\e6ae";
}

.levi-gongzuojingyan:before {
  content: "\e60f";
}

.levi-fenlei:before {
  content: "\e68a";
}

.levi-fengjing:before {
  content: "\e63f";
}

.levi-biji:before {
  content: "\e696";
}

.levi-web:before {
  content: "\e644";
}

.levi-gengxinmulu:before {
  content: "\e64e";
}

.levi-jishurenyuan:before {
  content: "\e658";
}

.levi-MAILBOX:before {
  content: "\e606";
}

.levi-mima:before {
  content: "\e86c";
}

.levi-IPdizhi:before {
  content: "\e6c3";
}

.levi-guanyu-:before {
  content: "\e60d";
}

.levi-meirijiongtu:before {
  content: "\e652";
}

.levi-danweihuansuanx:before {
  content: "\e61e";
}

.levi-yanzhengma:before {
  content: "\e611";
}

.levi-riqi:before {
  content: "\e647";
}

.levi-diqiuyi:before {
  content: "\ec48";
}

.levi-168-boy-2:before {
  content: "\e600";
}

.levi-woderichang:before {
  content: "\e6fb";
}

.levi-liuyanban:before {
  content: "\e684";
}

.levi-jiami:before {
  content: "\f412";
}

.levi-nicheng:before {
  content: "\e61d";
}

.levi-biaoqian_1:before {
  content: "\e6a8";
}

.levi-tianqi:before {
  content: "\e601";
}

.levi-shangchuan-2:before {
  content: "\e694";
}

.levi-changdu:before {
  content: "\e602";
}

.levi-mima1:before {
  content: "\e75f";
}

.levi-peizhi:before {
  content: "\e760";
}

.levi-aichong03:before {
  content: "\e7b3";
}

.levi-tupianyasuo:before {
  content: "\e950";
}

.levi-a-gaoxinghaoxinqingbiaoqingxihuanbiaoqingxiaolian:before {
  content: "\e643";
}

.levi-a-shuqianshumulu:before {
  content: "\e6a9";
}

