@import "./base.scss";

/** 这里是element ui的样式 **/

.el-header,
.el-main,
.el-footer {
  padding: 0 !important;
}

.el-carousel__container {
  height: 100% !important;
}

.el-divider {
  margin: 12px 0;
  background: #00000037;
}

.el-divider--horizonta {
  border-top: none !important;
}

.el-drawer__header {
  display: none !important;
}

.el-tooltip__trigger,
.el-dialog__headerbtn {
  outline: none !important;
}

.el-drawer__body {
  padding: 0 !important;
  background: var(--theme-color) !important;
}

.el-dialog__body {
  padding: 0 !important;
}

.search-model-main .el-input__wrapper {
  box-shadow: none !important;
  border: 1px solid var(--btn-tag-bg-color);
  border-radius: 50px !important;
}

.el-divider--horizontal {
  border-top: 0 !important;
  margin: 14px 0 !important;
}

.el-form-item__label {
  color: var(--black-text-color) !important;
  font-size: 17px !important;
}