@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1713452222517') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e6c2";
}

.icon-wode_zuijinliulan:before {
  content: "\e621";
}

.icon-youxiji:before {
  content: "\e650";
}

.icon-zonghelei:before {
  content: "\e66e";
}

.icon-kaifa:before {
  content: "\e6ae";
}

.icon-gongzuojingyan:before {
  content: "\e60f";
}

.icon-fenlei:before {
  content: "\e68a";
}

.icon-fengjing:before {
  content: "\e63f";
}

.icon-biji:before {
  content: "\e696";
}

.icon-web:before {
  content: "\e644";
}

.icon-gengxinmulu:before {
  content: "\e64e";
}

.icon-jishurenyuan:before {
  content: "\e658";
}

.icon-mima:before {
  content: "\e86c";
}

.icon-IPdizhi:before {
  content: "\e6c3";
}

.icon-meirijiongtu:before {
  content: "\e652";
}

.icon-danweihuansuanx:before {
  content: "\e61e";
}

.icon-riqi:before {
  content: "\e647";
}

.icon-diqiuyi:before {
  content: "\ec48";
}

.icon-168-boy-2:before {
  content: "\e515";
}

.icon-woderichang:before {
  content: "\e6fb";
}

.icon-jiami:before {
  content: "\f412";
}

.icon-biaoqian_1:before {
  content: "\e6a8";
}

.icon-tianqi:before {
  content: "\e55f";
}

.icon-changdu:before {
  content: "\e508";
}

.icon-mima1:before {
  content: "\e75f";
}

.icon-peizhi:before {
  content: "\e760";
}

.icon-aichong03:before {
  content: "\e7b3";
}

.icon-a-shuqianshumulu:before {
  content: "\e6a9";
}

