:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background: #efefef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --themeColor: #ffffffc6;
  --themeTextColor: #5a8cbd;
  --navTextColor: #fff;
  --filingColor: #000;
  --balckTextColor: #181a2a;
  --linkTextColor: #409eff;
  --minWidth: 200px;
  --heeartWidth: 1200px;
  --headerBarHeight: 60px;
  --headerMobileBarHeight: 50px;
  --themeRadius: 20px;

  --aboutColor: #95a5a6;
  --workColor: #79bbff;
  --abilityColor: #95d475;
  --connectColor: #eebe77;
  overflow-x: hidden;
}

/* 滚动条优化 start */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

::-webkit-scrollbar-corner {
  background: #f6f6f6;
}

/* 滚动条优化 end */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  height: 100%;
  cursor: url(./assets/images/shubiao.ico) 16 16,auto;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.el-header,
.el-main,
.el-footer {
  padding: 0 !important;
}

.w {
  max-width: var(--heeartWidth);
  min-width: var(--minWidth);
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.el-carousel__container {
  height: 100% !important;
}

.lv-card {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #dcdfe6;
}

.red-text {
  color: red;
}

.el-drawer__header {
  display: none !important;
}

.el-tooltip__trigger {
  outline: none;
}

.topic-sidebar {
  width: 22%;
  margin-right: 20px;
}

.el-divider {
  margin: 12px 0;
  background: #00000037;
}
.el-divider--horizonta {
  border-top: none;
}

.page-container {
  display: flex;
  padding-top: 80px;
}

 /* 添加模糊效果的样式 */
 .container-blur {
  backdrop-filter: blur(5px); /* 调整模糊程度 */
}

@media (max-width: 860px) {
  .topic-sidebar {
    display: none;
  }
}